/* styles.css */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f0f0f0;
    overflow-x: hidden;
}

::-webkit-scrollbar {
    width: 1px;
    scroll-behavior: smooth;
}

.about-container {
    display: flex;
    flex-wrap: wrap;
    padding: 20px;
    min-height: 100vh;
    background: black;
    overflow: hidden;
}

.profile-photo-container {
    flex: 1;
    max-width: 20%;
    overflow: hidden;
    margin-right: 20px;
    overflow: hidden;
}

.profile-photo {
    width: 100%;
    max-width: 100%;
    height: auto;
    transition: transform 0.3s;
    border-radius: 5%;
}

.profile-photo:hover {
    transform: translateY(-10px);
}

.about-content {
    flex: 1;
    width: 100%;
    background-color: rgba(225, 225, 225, 0.1);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 2px 3px 10px 1px rgb(17, 16, 16);
    color: white;
}

.about-content h1 {
    text-transform: uppercase;
    letter-spacing: 5px;
}

.summery p {
    text-align: justify;
    color: wheat;
}

.designation {
    color: #007BFF;
    font-weight: bold;
}

.contact-info {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-wrap: wrap;
    gap: 10em;
}

.contact-info li {
    margin-bottom: 10px;
    color: #fff;
}

strong {
    color: #689fb1;
    margin-right: 5em;
}

@media(max-width:500px) {
    strong {
        margin-right: 1em;
    }
}

h2 {
    color: pink;
    text-transform: uppercase;
}

hr {
    margin-top: 20px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
}

.skills {
    margin-top: 20px;
    padding: 20px;
    background-color: rgba(225, 225, 225, 0.1);
    border-radius: 10px;
}

.skill {
    margin-bottom: 10px;
}

.progress {
    background-color: rgba(35, 19, 19, 0.1);
    border-radius: 5px;
    height: 20px;
}

.progress-bar {
    color: #fff;
    text-align: center;
    line-height: 20px;
    border-radius: 5px;
}

/* Skill-specific colors */
.progress-bar.python {
    background-color: #FF5733;
}

.progress-bar.html-css {
    background-color: #00BCD4;
}

.progress-bar.javascript {
    background-color: #FFD700;
}

.progress-bar.sql {
    background-color: #4CAF50;
}

/* Additional skills and their background colors */
.progress-bar.java {
    background-color: #007BFF;
}

.progress-bar.c-lang {
    background-color: #240528;
}

.progress-bar.front-end-dev {
    background-color: #00BCD4;
}

/* Media query for screens 760px wide or less */
@media (max-width: 760px) {
    .contact-info {
        overflow: hidden;
        gap: 5em;
    }

    .about-container {
        padding: 10px;
    }

    .profile-photo-container {
        max-width: 100%;
    }

    .about-container.flex-column-reverse {
        flex-direction: column-reverse;
    }

    .profile-photo-container {
        display: none;
    }
}

@media (max-width: 585px) {
    .contact-info {
        overflow: hidden;
        gap: 2em;
    }

    @media (max-width:580px) {
        .contact-info {
            overflow: hidden;
            gap: 2em;
        }

    }

    @media (max-width:540px) {
        .contact-info {
            overflow: hidden;
            gap: 1em;
        }

    }

    @media (max-width:520px) {
        .contact-info {
            overflow: hidden;
            gap: 0.5em;
        }

    }
}

.social-media .footer-icons {
    display: flex;
    align-items: center;gap: 1em;margin-top: 1em;
}

.social-media .footer-icons a i {
    margin: 1px;
    background: rgba(225, 225, 225, 0.1);
    padding: 10px;
    transition: .5s;color: pink;
    font-size: 20px;border-radius: 1px;
}

.social-media .footer-icons i:hover {
    background: #000;
    color: aqua;
    transform: translateY(-5px);
}