html,
body {
  scroll-behavior: smooth;
}

::-webkit-scrollbar-corner {
  color: yellow;
  background: yellow;
}

::-webkit-scrollbar {
  width: 1px;
  height: 10px;
  color: blue;
  background: transparent;
}

::-webkit-scrollbar-button {
  color: beige;
}

::-webkit-scrollbar-thumb {
  color: #000;
  background: rgba(111, 175, 111, 0.5);
  width: 1px;
  border-radius: 20px;
}

.jobs-list-container {
  max-width: 1000px;
  margin: 20px auto;
  font-family: "Rubik", sans-serif;
  overflow-x: hidden;
}

.jobs-list-container h2 {
  font-size: 30px;
  border-left: 4px solid #023047;
  padding-left: 20px;
}

.jobs-list-container .jobs {
  /* display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 24px; */
  min-height: 100%;
  min-width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fit, 300px);
  background: rgb(255, 255, 255);
  flex-direction: column;
  gap: 2em;
  padding-left: 8px;
  padding-top: 1em;
  box-sizing: border-box;
  padding-bottom: 2em;
}

@media(max-width:768px) {
  .jobs-list-container .jobs {
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
  }
}

.jobs-list-container .jobs img {
  width: 60px;
}

.jobs-list-container .job {
  display: flex;
  align-items: flex-start;
  justify-content: space-around;
  flex-direction: column;
  gap: 1.5em;
  box-shadow: 0 4px 5px 1px rgba(0, 0, 0, 0.5);
  width: 300px;
  min-height: 300px;
  background: rgb(255, 255, 255);
  padding: 10px;
  border-radius: 10px;
  position: relative;
}

.jobs-list-container .job:hover {
  transform: scale(1.03);
}

.jobs-list-container .open-positions {
  position: absolute;
  top: 25px;
  right: 24px;
  color: #e63946;
}

.jobs-list-container .job-title {
  font-size: 20px;
  padding: 10px 0;
  margin: 0;
  color: #023047;
}

.jobs-list-container .details {
  margin-top: 6px;
  font-size: 14px;
  color: #333;
  line-height: 1.8;
  flex: 1;
}


.jobs-list-container .details-btn {
  text-decoration: none;
  border: 1px solid #000;
  color: #fff;
  padding: 8px 16px;
  border-radius: 8px;
  text-align: center;
  margin-top: 20px;
  transition: all 400ms ease;
  background: #143e53;
}

.jobs-list-container .details-btn:hover {
  background: #000000;
  color: #fff;
}

.jobs-list-container .job-search {
  width: 100%;
  padding: 12px 24px;
  font-size: 18px;
  font-family: "Rubik", sans-serif;
  box-sizing: border-box;
  border: 1px solid #333;
  border-radius: 8px;
  margin-bottom: 20px;
}

@media (max-width: 940px) {
  .jobs-list-container .jobs {
    grid-template-columns: 1fr 1fr;
  }
}

@media (max-width: 640px) {
  .jobs-list-container .jobs {
    grid-template-columns: 1fr;
    max-width: 400px;
    margin: 0 auto;
  }
}

/* follow buttons for jobs */
.follow-buttons-jobs {
  width: 100%;
  background: rgb(0, 0, 0);
}

.follow-buttons-jobs a:nth-child(1) {
  background: rgb(42, 235, 113);
  color: black;
  font-weight: 1000;
}

.follow-buttons-jobs a:nth-child(2) {
  background: #012233;
  color: white;
  font-weight: 800;

}

.follow-buttons-jobs a:nth-child(3) {
  padding: 10px;
  color: #ffff;
}

.follow-buttons-jobs a {
  padding: 10px 20px;
  background: rgb(136, 41, 131);
  text-decoration: none;
  position: relative;
  float: right;
  right: 10px;
  color: wheat;
  gap: 1em;
  border: 2px solid white;
  border-radius: 20px;
  transition: .5s;
}

.fa {
  font-size: 20px;
  font-weight: 1000;
}

.follow-buttons-jobs a:hover {
  background: rgba(225, 225, 225, .5);
  color: black;
}

@media(max-width:768px) {
  #buttom-follow-btns {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 1em;
    padding: 10px;
  }
}