@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.row {
  display: flex;
  flex-direction: row;
}

@media(max-width:768px) {
  row {
    flex-direction: column;
  }
}

body {
  font-family: 'Poppins', sans-serif;
  background: rgb(34, 193, 195);
  /* background: linear-gradient(0deg, rgba(34,193,195,1) 0%, rgba(48,45,253,1) 100%); */
  background: white;
  overflow-x: hidden;

}

.text-black {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: 600;
}

.card-img-top {
  border-radius: 50%;
  width: 100px;
  height: 100px;
  object-fit: cover;
  overflow: hidden;
  margin: auto;

}

.card-title {
  color: black;
}

.card {
  border-radius: 0;
  padding: 20px;
  overflow: hidden;
  border: none;
  transition: .5s;
  background: white;
  box-shadow: .5px .5px 00px 1px aqua;

}

.card:hover {
  background: black;
  box-shadow: 1px 1px 20px 1px rgb(0, 0, 0);
  color: wheat;
  transform: scale(1.01);
  border-radius: 0px;
}strong{
  color: black;
}

.card:hover .card-title {
  color: white;
}
.card:hover .card-text {
  color: white;
}

.bi {
  font-size: 25px;
  color: rgb(255, 85, 0);
  transition: .5s;

}

.bi:hover {
  cursor: pointer;
  transform: scale(1.1);
  color: aqua;
}

.card-text {
  text-align: justify;color: black;
}.center h1{
  color: black;
}